<h4 class="page-title text-center">内容の確認</h4>

<%= form_with(model: @word, local: true, url: words_path) do |form| %>
<div class="confirm-contents text-center">
  <div class="word_content">
    <%= form.hidden_field :content %>
  </div>
  <br>
  <div class="confirm_content">
    <%= @word.content %>
  </div>
  <br>
  <%= form.submit "ひとりごちる", class: "buttons" %>
  <br>
  <%= form.submit '戻る', name: 'back', class: "buttons" %>
  <br>
</div>
<% end %>
