<div class="row">
  <h4 class="page-title col-md-3 mx-auto text-center">過去の独り言</h4>
</div>

<br>

<table class="word-table">
  <% @words.each do |word| %>
      <tr>
        <td class="bg-light">作成日時:<%= word.created_at.to_s(:datetime_jp) %></td>
      </tr>

      <tr>
        <td class="bg-light">最終編集:<%= word.updated_at.to_s(:datetime_jp) %></td>
      </tr>

      <tr>
        <td><p class="word-content"><%= word.content %></p></td>
      </tr>

      <tr>
        <td>
          <p class="btn btn-light btn-sm">
            <%= link_to '言い直す', edit_word_path(word.id) %>
          </p>
        </td>
      </tr>

      <tr>
        <td>
          <p class="btn btn-light btn-sm">
            <%= link_to '取り消す', word_path(word.id),
           method: :delete ,data: { confirm: '本当に取り消しますか？' } %>
          </p>
        </td>
      </tr>
  <% end %>
</table>
