<h1>DokuGo</h1>

<%= form_with(model: @word, local: true, url: confirm_words_path) do |form| %>
  <div class="word_content">
    <%= form.label :content, "考えていること" %>
    <br>
    <%= form.text_field :content %>
  </div>
  <br>
  <%= form.submit "ひとりごちる" %>
<% end %>

<%= link_to '溜まった言葉を見にいく', words_path %>
